<div class="nav">
    <a href="/">NodeJs</a>
    <ul class="nav-items">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/createPost">Create Post</a>
        </li>
    </ul>
    <button class="search">Search <img src="/img/search.svg" alt=""></button>
</div>